@font-face {
  font-family: "Gazzetta";
  src: url("fonts/Gazzetta Thin.otf") format("opentype");
  font-style: normal;
  font-weight: 100;
  font-display: swap;
}

@font-face {
  font-family: "Gazzetta";
  src: url("fonts/Gazzetta Thin Slanted.otf") format("opentype");
  font-style: oblique;
  font-weight: 100;
  font-display: swap;
}

@font-face {
  font-family: "Gazzetta";
  src: url("fonts/Gazzetta ExtraLight.otf") format("opentype");
  font-style: normal;
  font-weight: 200;
  font-display: swap;
}

@font-face {
  font-family: "Gazzetta";
  src: url("fonts/Gazzetta ExtraLight Slanted.otf") format("opentype");
  font-style: oblique;
  font-weight: 200;
  font-display: swap;
}

@font-face {
  font-family: "Gazzetta";
  src: url("fonts/Gazzetta Light.otf") format("opentype");
  font-style: normal;
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: "Gazzetta";
  src: url("fonts/Gazzetta Light Slanted.otf") format("opentype");
  font-style: oblique;
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: "Gazzetta";
  src: url("fonts/Gazzetta Regular.otf") format("opentype");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Gazzetta";
  src: url("fonts/Gazzetta Regular Slanted.otf") format("opentype");
  font-style: oblique;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Gazzetta";
  src: url("fonts/Gazzetta Medium.otf") format("opentype");
  font-style: normal;
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: "Gazzetta";
  src: url("fonts/Gazzetta Medium Slanted.otf") format("opentype");
  font-style: oblique;
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: "Gazzetta";
  src: url("fonts/Gazzetta Bold.otf") format("opentype");
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: "Gazzetta";
  src: url("fonts/Gazzetta Bold Slanted.otf") format("opentype");
  font-style: oblique;
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: "Gazzetta";
  src: url("fonts/Gazzetta ExtraBold.otf") format("opentype");
  font-style: normal;
  font-weight: 800;
  font-display: swap;
}

@font-face {
  font-family: "Gazzetta";
  src: url("fonts/Gazzetta ExtraBold Slanted.otf") format("opentype");
  font-style: oblique;
  font-weight: 800;
  font-display: swap;
}

@font-face {
  font-family: "Gazzetta";
  src: url("fonts/Gazzetta Black.otf") format("opentype");
  font-style: normal;
  font-weight: 900;
  font-display: block;
}

@font-face {
  font-family: "Gazzetta";
  src: url("fonts/Gazzetta Black Slanted.otf") format("opentype");
  font-style: oblique;
  font-weight: 900;
  font-display: swap;
}
